<div class="card p-3">
  <div class="mb-3">
    <input type="text" class="form-control mb-2" [value]="nombreDefault()" readonly />

    <input
      #mensaje
      type="text"
      class="form-control"
      placeholder="Escribí tu mensaje..."
      (keyup.enter)="enviarMensaje(mensaje)"
    />
  </div>
  <button (click)="enviarMensaje(mensaje)">Enviar</button>

  <ul class="list-group">
    @for (m of mensajes(); track $index) {
      <li class="list-group-item">
        <strong>{{ m.user }}</strong
        >:
        {{ m.text }}
      </li>
    }
  </ul>
</div>
